* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* border: 3px solid black; */
  /* background: goldenrod; */
  background-color: #9e8a505c;
}

.container {
  padding: 0;
}

header {
  text-align: center;
  background-color: #a0d2eb;
  background-color: #ff7f00;
  background-color: goldenrod;
  padding: 20px 0;
  font-family: 'Martian Mono', monospace;
}

header h1 {
  font-size: 50px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  margin: 0 auto;
}

p {
  font-weight: 500;
}

h5 {
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: rgb(130, 130, 90);
  padding-bottom: 3rem;
  font-family: 'Martian Mono', monospace;
}

.prePocetne {
  background-color: white;
}

.pocetna {
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background: linear-gradient(137deg, #e3d33a5c 65%, #3841005c); */
  background-color: #e3d33a5c;
  background-color: #e5eaf5;
  background-color: #a0d2eb;
  background-color: #fff685;

  justify-content: space-between;
}

.prvaSlika {
  margin-left: 0px;
}

.menu {
  display: flex;
  flex-direction: column;
  /* width: 180px; */
  gap: 7px;
  margin-left: auto;
}

/* .dropstart {
  margin-bottom: 6px;
} */

.btn {
  text-align: left;
  background-color: #655b5b;
  background-color: #dddddd;
  background-color: goldenrod;
  color: black;
  font-weight: bold;
  /* margin: 1.8px 0; */
}

.btn:hover {
  /* color: white; */
  background-color: yellow;
  color: black;
}

.btn-secondary {
  --bs-btn-active-bg: goldenrod;
  --bs-btn-active-color: #000;
}

.show {
  background-color: goldenrod;
}

btn:checked .dropdown-menu {
  background-color: goldenrod;
  text-align: start;
  margin-left: 4px;
  padding-left: 15px;
  display: none;
}

/* btn:checked {
  background-color: goldenrod;
} */

.dropdown-menu a {
  font-weight: 500;
}
.dropdown-menu {
  --bs-dropdown-min-width: auto;
}

.dropdown-menu li {
  padding: 0 20px;
}

.dropdown-menu-w {
  width: 210px;
}

.dropdown-menu:hover {
  display: block;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #ff7f00;
  background-color: goldenrod;
  background-color: white;
  background-color: #d3ecef;
  align-items: center;
  padding: 20px 0;
  padding-top: 40px;
}

footer p {
  font-weight: bold;
}

.adresa {
  line-height: 10px;
  margin-top: 15px;
}

.fab {
  font-size: 40px;
  color: blue;
  color: #604fee;
}

.fab1 {
  font-size: 40px;
  color: blue;
  color: #604fee;
}

.social {
  display: flex;
  gap: 20px;
}

.logoSocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.email {
  color: blue;
}

.oNama {
  text-align: start;
  margin: 0 15px;
  /* width: 50%; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* #oNama h2 {
  font-size: 3rem;
  color: rgb(130, 130, 90);
  padding-bottom: 4rem;
  font-family: 'Martian Mono', monospace; */
/* background-color: white;
  width: 11rem;
  height: 4rem; */
/* } */

#oNama p {
  font-size: 1.2rem;
  margin: 0 40px;
}

.kurija {
  text-align: start;
  margin: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* #kurija h2 {
  font-size: 3rem;
  color: rgb(130, 130, 90);
  padding-bottom: 3rem;
  font-family: 'Martian Mono', monospace;
  /* background-color: white; */
/* } */
*/ #kurija p {
  /* font-size: 1.4rem; */
  margin: 0 40px;
}

/* #zaposleni {
  text-align: start;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.zaposleni h2 {
  padding-bottom: 10px;
}

/* #zaposleni h2 {
  font-size: 3rem;
  padding-top: 15px;
  color: rgb(130, 130, 90);
  margin-bottom: 10px;
  font-family: 'Martian Mono', monospace; */
/* padding-bottom: 1rem; */
/* background-color: white; */
/* } */

/* #zaposleni p {
  font-size: 1.4rem; 
   font-weight: bold;
} */

.zaposleni span {
  /* font-size: 1.4rem; */
  font-weight: bold;
  /* margin: 0 40px 8px; */
}

.zaposleniSlika {
  margin: 0;
}

.zaposleniMenu {
  margin: 0;
}

#zaposleni .prvi {
  /* font-size: 1.4rem; */
  /* font-weight: bold; */
  /* margin: 0 40px 8px; */
  /* margin-right: 300px; */
  text-align: start;
}

#zaposleni .drugi {
  /* font-size: 1.4rem; */
  /* font-weight: bold; */
  /* margin: 0 40px 8px; */
  /* margin-right: 400px; */
  margin-left: 500px;
  text-align: start;
}

.etnoloska p {
  margin: 0 40px;
  font-size: 20px;
}

/* #etnoloska h2 {
  text-align: center;
  font-size: 3rem;
  color: rgb(130, 130, 90);
  padding-bottom: 3rem;
  font-family: 'Martian Mono', monospace;
} */

/* .etnoloskaSlika {
  border-bottom: 1px solid goldenrod;
} */

.arheoloska p {
  margin: 0 40px;
  font-size: 20px;
}

/* #arheoloska h2 {
  text-align: center;
  font-size: 3rem;
  color: rgb(130, 130, 90);
  padding-bottom: 3rem;
  font-family: 'Martian Mono', monospace;
} */

.istorijska p {
  margin: 0 40px;
  font-size: 20px;
}

/* #istorijska h2 {
  text-align: center;
  font-size: 3rem;
  color: rgb(130, 130, 90);
  padding-bottom: 3rem;
  font-family: 'Martian Mono', monospace;
} */

.umetnicka p {
  margin: 0 40px;
  font-size: 20px;
}

/* #umetnicka h2 {
  text-align: center;
  font-size: 3rem;
  color: rgb(130, 130, 90);
  padding-bottom: 3rem;
  font-family: 'Martian Mono', monospace;
} */

.prirodnjacka p {
  margin: 0 40px;
  font-size: 20px;
}

/* #prirodnjacka h2 {
  text-align: center;
  font-size: 3rem;
  color: rgb(130, 130, 90);
  padding-bottom: 3rem;
  font-family: 'Martian Mono', monospace;
} */

/* media query */

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 2rem;
    padding-bottom: 10px;
  }

  footer p {
    font-size: 14px;
  }

  footer h5 {
    font-size: 18px;
  }

  .pocetna p {
    font-size: 17px;
    margin: 30px 20px 0;
  }

  .zaposleni p {
    font-size: 16px;
    margin-top: 0;
  }
}

@media screen and (max-width: 1000px) {
  header h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 1.5rem;
    padding-bottom: 30px;
  }

  .pocetna img {
    width: 200px;
    height: 400px;
  }

  .oNama2 h2 {
    font-size: 2rem;
  }

  .prePocetne p {
    font-size: 14px;
    margin: 0 25px;
  }

  .oNama2 p {
    font-size: 17px;
  }

  .btn {
    --bs-btn-font-size: 13px;
  }

  .kurija p {
    font-size: 13px;
    line-height: 1.2;
  }

  .kurija h2 {
    font-size: 26px;
  }

  .adresa {
    margin-left: 3px;
  }

  .contact h5 {
    margin-left: 3px;
  }

  .adresa p:first-child {
    margin-bottom: 10px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 777px) {
  .prvaSlika {
    order: 1;
    /* margin: 0; */
    position: absolute;
    top: 0;
    left: 0;
  }

  /* .oNama2 {
    order: 2;
    margin-top: 50px;
  }

  .kurija {
    order: 2;
    margin-top: 30px;
  } */

  .menu {
    order: 0;
    /* margin: 0; */
  }

  .pocetna {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    position: relative;
  }

  .pocetna img {
    width: auto;
  }
  .btn {
    --bs-btn-font-size: 16px;
  }

  .srednjiDeo {
    order: 2;
    margin-top: 30px;
    padding-bottom: 10px;
  }

  .slikaMuzej {
    max-width: 100%;
  }

  footer {
    height: 400px;
    position: relative;
    align-items: flex-start;
  }

  .logoSocial {
    position: absolute;
    bottom: 0;
  }

  .contact {
    text-align: center;
  }

  .zaposleniMenu {
    margin-left: auto;
  }

  .radnoVreme {
    text-align: center;
  }
}
